<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="page-error">
        <div class="page-inner">

          <div class="page-description">
            You do not have access to this page.
          </div>

        </div>
      </div>
      <div class="simple-footer mt-5">
        Copyright &copy; Stisla 2018
      </div>
    </div>
  </section>
</div>
<%- include ("footer") %>